 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-family: "Zen Dots";
  width: 284px;
  margin: 147px auto 0;
}

.u-section-1 .u-text-2 {
  width: 97px;
  margin: -14px auto 60px;
}